body {
	font-family: Tahoma, Verdana, sans-serif;
}

.error {
	font-weight: bold;
	color: red;
}

.italic {
	text-decoration: italic;
}

table {
	border-collapse: collapse;
	background-color: rgb(247, 247, 247);
}

table,th,td {
	border: 1px solid black;
	vertical-align: middle;
	padding: 5px;
}

form {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

pre {
	border: 1px solid black;
	padding: 5px;
	background-color: rgb(247, 247, 247);
}

.content {
	border: 1px solid black;
	background-color: rgb(247, 247, 247);
	padding: 10px;
}

textarea {
	width: 100%;
	height: 400px;
	font-family: Courier New, Courier, monospace;
}

h1 {
	width: 100%;
	background-color: rgb(220,220,220);
		padding: 5px 5px 5px 5px;
}

h2 {
	width: 100%;
	background-color: rgb(230,230,230);
	padding: 5px 5px 5px 5px;
}